<header>
    <h5 class="my-0 mr-md-auto font-weight-normal">Продуктовый</h5>
</header>
<nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_list' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
        {% if user.is_authenticated %}
            {% csrf_token %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти из {{ user.email }}</a>
        {% else %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>

        {% endif %}

</nav>