{% extends 'base.html' %}
{% load my_tags %}
{% block title %} Продукты {% endblock %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col">
          <div class="card shadow-sm">
              <div class="card-header">
                  <h4 class="my-0 font-weight-normal text-center">{{ product.title }}</h4>
              </div>
              <img src="{{ product.image | media_filter }}" width="100%" height="250">
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price }} рублей</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- Дата создания: {{ product.created_at | date:"d M Y"}}</li>
                    <li>- Категория продукта: {{ product.category }}</li>
                    <li>- Описание продукта: {{ product.description | truncatechars:100 }}</li>
                    <li>- Последнее обновление: {{ product.updated_at | date:"d M Y"}}</li>
                </ul>
              <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">Купить</a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:home' %}" role="button">Назад</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}