{% extends 'catalog/base_template.html' %}
{% load my_tags %}
{% block title %}Продукты категории{% endblock %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">{{ product.title }}</h4>
                </div>
                <img height="250" src="{{ product.image | media_filter }}" width="100%">

                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Категория продукта: {{ product.category }}</li>
                        <li>- Описание продукта: {{ product.description | truncatechars:100 }}</li>
                        <li>- Количество просмотров: {{ product.view_counter }}</li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-lg btn-block btn-outline-primary"
                               href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробнее</a>
                            {% if perms.products.delete_product or self.request.user == product.owner%}
                            <a class="btn btn-lg btn-block btn-outline-primary"
                               href="{% url 'catalog:product_update' product.pk %}" role="button">Изменить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}